<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/home.css">
    <title>Home Page</title>

</head>

<body>


    <div class="container">
        <div id="Main-Box">
            <div id="play-button" onclick="btn_clicked()">Play</div>
            <div id="choose-size">
                <input type="text" id="size" name="size" placeholder="Choose Size" value="5">
            </div>
        </div>
    </div>

    <script>
        function btn_clicked() {
            let sz = document.getElementById('size').value
            window.location.href = `/play/${sz}`;
          }
    </script>
</body>

</html>